{% extends 'base.html.twig' %}

{% block title %}AvForm{% endblock %}

{% block body %}
    <h1>Demandes de réservations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ av_form.id }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ av_form.messageForm }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_av_form_index') }}"  class="bg-blue-400 rounded p-2 m-2 text-white inline">Retour à la liste</a>

    <a href="{{ path('app_av_form_edit', {'id': av_form.id}) }}"  class="bg-yellow-400 rounded p-2 m-2 text-white inline">Editer</a>

    {{ include('av_form/_delete_form.html.twig') }}
{% endblock %}
