{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="m-auto text-center">
        <h1 class="h3 mb-3 font-weight-normal pt-6 font-bold text-xl">Connexion</h1>
        <div class="pt-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control border-2" autocomplete="email" required autofocus>
        </div>
        <div class="pt-4">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control border-2" autocomplete="current-password" required>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}" 
        >

        <div class="checkbox mb-3 pt-6">
            <label>
                <input type="checkbox" name="_remember_me" class="pt-5" > Se souvenir de moi
            </label>
        </div>

        <button class="bg-yellow-400 rounded p-2 m-2 text-white inline" type="submit">
            Se Connecter
        </button>
    </div>
</form>
{% endblock %}
