{% extends 'base.html.twig' %}

{% block title %}AvCountry index{% endblock %}

{% block body %}
    <h1 class="my-2 text-yellow-400 text-2xl font-bold right-0">Pays</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_country</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_country in av_countries %}
            <tr>
                <td>{{ av_country.id }}</td>
                <td>{{ av_country.nameCountry }}</td>
                <td>
                    <a href="{{ path('app_av_travel_show', {'id': av_country.id}) }}"   class="bg-blue-400 rounded p-2 m-2 text-white inline">Détails</a>

                    <a href="{{ path('app_av_travel_edit', {'id': av_country.id}) }}"  class="bg-yellow-400 rounded p-2 m-2 text-white inline">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_country_new') }}"  class="bg-green-400 rounded p-2 m-2 text-white inline text-right my-4">Créer un nouveau pays</a>
{% endblock %}
