{% extends 'base.html.twig' %}

{% block title %}AvCountry{% endblock %}

{% block body %}
    <h1>AvCountry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ av_country.id }}</td>
            </tr>
            <tr>
                <th>Name_country</th>
                <td>{{ av_country.nameCountry }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_av_country_index') }}">back to list</a>

    <a href="{{ path('app_av_country_edit', {'id': av_country.id}) }}">edit</a>

    {{ include('av_country/_delete_form.html.twig') }}
{% endblock %}
