{% extends 'base.html.twig' %}

{% block title %}AvCategory index{% endblock %}

{% block body %}
    <h1 class="my-2 text-yellow-400 text-2xl font-bold right-0">Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for av_category in av_categories %}
            <tr>
                <td>{{ av_category.id }}</td>
                <td>{{ av_category.nameCategory }}</td>
                <td>
                    <a href="{{ path('app_av_travel_show', {'id': av_category.id}) }}"   class="bg-blue-400 rounded p-2 m-2 text-white inline">Détails</a>

                    <a href="{{ path('app_av_travel_edit', {'id': av_category.id}) }}"  class="bg-yellow-400 rounded p-2 m-2 text-white inline">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_category_new') }}"  class="bg-green-400 rounded p-2 m-2 text-white inline text-right my-4">Créer une nouvelle catégorie</a>
{% endblock %}
