{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

{{ include('includes/success.html.twig') }}
{% for message in app.flashes('success') %}
		<div>
			{{ message | join('<br>') }}
		</div>
	{% endfor %}


    <h1>Liste des utilisateurs</h1>

    <table class="table table-fixed text-left w-full">
        <thead class="bg-gray-600 flex text-white w-full flex-col overflow-y-scroll">
            <tr class="flex w-full">
                <th class="p-3 max-w-fit">Id</th>
                <th class="p-3 max-w-fit">Nom</th>
                <th class="p-3 max-w-fit">Prénom</th>
                <th class="p-3 max-w-fit">Email</th>
                <th class="p-3 max-w-fit">Téléphone</th>
                <th class="p-3 max-w-fit">Role</th>
                <th class="p-3 max-w-fit">Actions</th>
            </tr>
        </thead>
        <tbody class="flex flex-col overflow-y-scroll w-full">
        {% for av_user in av_users %}
            <tr class="flex w-full">
                <td class="p-2 max-w-fit">{{ av_user.id }}</td>
                <td class="p-2 max-w-fit">{{ av_user.lastnameUser }}</td>
                <td class="p-2 max-w-fit">{{ av_user.firstnameUser }}</td> 
                <td class="p-2 max-w-fit">{{ av_user.email }}</td>
                <td class="p-2 max-w-fit">{{ av_user.phoneUser }}</td> 
                <td class="p-2 max-w-fit">{{ av_user.roles ? av_user.roles|json_encode : '' }}</td>
                
               
               
                <td class="p-2">
                    <a href="{{ path('app_av_user_show', {'id': av_user.id}) }} "   class="bg-blue-400 rounded p-1 ml-1 text-white inline">Détails</a>
                    <a href="{{ path('app_av_user_edit', {'id': av_user.id}) }}"  class="bg-yellow-400 rounded p-1 ml-1 text-white inline">Editer</a>
                    
                </td>
            </tr>
        {% else %}
            <tr class="flex w-full">
                <td colspan="8">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_av_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
