{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="">
        <tbody class="">
            <tr class="">
                <th class="">Id</th>
                <td class="">{{ av_user.id }}</td>
            </tr>
            <tr class="">
                <th class="">Email</th>
                <td class="">{{ av_user.email }}</td>
            </tr>
            <tr class="">
                <th class="">Roles</th>
                <td class="">{{ av_user.roles ? av_user.roles|json_encode : '' }}</td>
            </tr>
            <tr class="">
                <th class="">Lastname_user</th>
                <td class="">{{ av_user.lastnameUser }}</td>
            </tr>
            <tr class="">
                <th class="">Firstname_user</th>
                <td class="">{{ av_user.firstnameUser }}</td>
            </tr>
            <tr class="" >
                <th class="">Phone_user</th>
                <td class="">{{ av_user.phoneUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_av_user_index') }}"  class="bg-blue-400 rounded p-2 m-2 inline text-white">Retour à la liste</a>

    <a href="{{ path('app_av_user_edit', {'id': av_user.id}) }}"  class="bg-yellow-400 rounded p-2 m-2 text-white inline">Editer</a>

    {{ include('av_user/_delete_form.html.twig') }}
{% endblock %}
